.box {
  background-color: rgb(240, 239, 239);
  width: 350px;
  height: 500px;
  border-radius: 5px;
  border-color: black;
  outline: 1px solid rgb(162, 161, 161);
  display: grid;
  grid-template-rows: auto 1fr;
}

.box_header {
  display: flex;
  height: 50px;
  justify-content: left;
  align-items: center;
  background-color: white;
  width: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  outline: 1px solid rgb(162, 161, 161); 

}

.box_header h2 {
  margin: 10px;
  color: black;
}

.box_content {
  padding: 20px;
}

.box_content label {
  display: block; /* Display labels on separate lines */
  margin-bottom: 5px;
  color: black;
}

.box_content input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.box_content input:focus {
  outline: none;
  border-color: rgba(12, 131, 164, 0.5);
  box-shadow: 0 0 10px rgba(132, 209, 239, 0.5);
}

.box_content button {
  width: 100%;
  padding: 10px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}